{% extends "core/base.html" %}
{% load static %}

{% block content %}
    <h1>Other Info</h1>
    <a href="{% url 'student_list' %}">Back</a>
    <table id="students" class="display">
        <thead>
            <tr>
	            <th>Student ID</th>
                <th>Name</th>
                <th>Emergency Contact Name</th>
		        <th>Emergency Contact Number</th>
                <th>Emergency Contact Relation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.id }}</td>
                <td>{{ student.id }}</td>
                <td>
                    <a href="{% url 'student_update' student.pk %}">Edit</a> |
                    <a href="{% url 'student_delete' student.pk %}">Delete</a> |
                    <a href="{% url 'other_info' student.pk %}">Other Info</a>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#students').DataTable();
        });
    </script>
{% endblock %}

