@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
    --head-color: #8868e7;
    --line-color: #42434a;
    --table-hover-color: #cecece;
    --table-text-color: #333;
}

/* <===== TABLE =====> */
.table {
    color: var(--table-text-color);
    font-size: 14px;
    border-collapse: collapse;
    margin: 0;
    min-width: 80vw;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.table tr {
    padding: .45em;
}

.table th {
    width: 130px;
    background-color: var(--head-color);
    color: var(--primary-color);
    text-align: left;
    font-weight: bold;
}

.table tr:nth-child(n+11) { 
    display: none;
}

.table th,
.table td {
    padding: 1em;
    font-weight: normal;
}

.table tbody tr {
    border-bottom: 1px solid var(--line-color);
    transition: color 0.3s ease, background 0.3s ease;
}

.table tbody tr:nth-of-type(even) {
    background-color: var();
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--line-color);
}

.table tbody tr.active-row {
    font-weight: bold;
    color: var(--backgroud-color);
}

.table tbody tr:hover {
    background-color: var(--table-hover-color);
    transition: color 0.3s ease, background 0.3s ease;
}

@media (max-width: 1280px) {
    .table {
        min-width: 70vw;
    }}

@media (max-width: 760px) {
    .table  {
        border: 2px solid var(--line-color);
        min-width: 80vw;
        margin: 0;
    }
    .table thead tr {
        display: none;
        color: var(--backgroud-color);
    }
    .table tr {
        display: block;
    }
    .table th,
    .table tr {
        padding: .5em;
    }
    .table td {
        text-align: right;
        display: block;
    }
    .table td::before {
        content: attr(data-title) ": ";
        float: left;
    }
    .table td:last-child {
        justify-content: right;
        display: block;
    }
}